*{
  margin: 0;
  padding: 0;

}

.topnav {
    overflow: hidden;
    position: fixed;
    background-color: #e9e9e9;
    padding-bottom: 10px;
    width: 200px;
    padding-top: 0px;
    z-index: 1;
  }

  .input-field{
    display: flex;
    width:200px;
  }

  .modules {
    width: 120px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .submit{
    height:30px;
    padding-left: 6px;
    margin-left: 6px;
    border-radius: 10px;
    background-color: #ffffff;
    text-emphasis-color: rgb(0, 0, 0);
    border-color: black;
  }
  .topnav button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .topnav button:hover {background-color: #3e8e41}
  
  .topnav button:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
  }


  .topnav {
    float: left;
    padding: 6px;
    padding-left: 165px;
    margin-top: 8px;
    margin-left: 16px;
    font-size: 17px;
  }
  

  @media screen and (max-width: 600px) {
   .topnav {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
  }
  .topnav {
    border: 1px solid #ccc;
  }


.sidenav {
    height: 100%;
    width: 200px;
    position: fixed; 
    z-index: 1;
    left: 0;
    background-color:rgb(255, 74, 110); 
    overflow-x: hidden; 
    padding-top: 70px;
  }
  
 
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
  }
  
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  

  .main {
    margin-left: 200px; 
    padding-top: 100px;
    background-color: cornsilk;
    background-position: 100%;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }