<header class="text-center">
  <div class="container">
    <h1 class="font-weight-light">Albums</h1>
  </div>
  <section class="team pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 text-center" *ngFor="let album of albums">
          <div class="box">
            <div class="avtar">
              <img src="../../assets/img_avatar.png" alt="" class="img-fluid">
            </div>
            <div class="box_content">
              <h3 class="title">User ID: {{ album.userId }}</h3>
              <span class="post">ID: {{ album.id }}</span>
            </div>
            <div class="content">
              {{ album.title }}
            </div>
            <ul class="icons">
              <li>
                <a href="http://localhost:4200/">
                  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                </a>
              </li>
              <li>
                <a href="http://localhost:4200/">
                  <mat-icon>people</mat-icon>
                </a>
              </li>
              <li>
                <a href="http://localhost:4200/">
                  <mat-icon>android</mat-icon>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>